/* Instellingen om fouten te helpen vinden,
   uncomment om aan te zetten */

/* zorg dat elke box een gestippelde rand krijgt, 
   zodat je de afmeting goed kunt zien, 
   let op 1: dit kan de layout soms kan wijzigen 
   let op 2: laat 1 sterretje voor { staan als je commentaar weghaalt */
/*  * {border: 1px dotted black;}   */
  
/* zorg dat elke box een doorzichtige donkere achtergrond krijgt, 
   hoe meer boxen in elkaar hoe donkerder de achtergrondkleur 
   letop: laat 1 sterretje voor { staan als je commentaar weghaalt */
/*  * {background-color: rgba(0,0,0,5%);}  */


/************************* BASISINSTELLINGEN *************************/

/* Basisinstellingen voor alle pagina's, alleen aanpassen als je pro wilt worden */

* {                               /* geldt voor alles */
  box-sizing: border-box;         /* zorg dat border meetelt bij de width en height van boxen */
  margin: 0px;                    /* standaard marge 0 pixels */
}

html, body {                      /* geldt voor html en body */
  background-color: #ffffff;    /* achtergrondkleur lichtgrijs */
}  

div {                             /* geldt voor div */
  overflow: hidden;               /* zorgt dat een <div> de hoogte krijgt van wat erin zit
                                     (anders tellen de floats erin niet mee voor de hoogte
                                     en wordt dus wel eens hoogte 0) */
}


/************************* ALLE WEBPAGINA'S *************************/

/* Indeling en opmaak voor alle pagina's */

.page {
  width: 700px;                   /* vaste breedte van 700 pixels */
  margin: 10px auto;              /* boven en onder 10 pixels marge,
                                     links en rechts marge gelijk verdeeld (gecentreerd) */
  background-color: #3da43d;                    /* tekstkleur donkergrijs */
  opacity: 1;                                     /* transparantie van de pagina */
  font-family: Gill-sans, sans-serif ;     /* standaart lettertype*/
}

header, footer {                  /* geldt voor header en footer */
  margin: 10px 0px;
}

main {                       
  text-align: justify;            /* tekst links en rechts uitvullen */
}

h1, h2, h3 {                      /* geldt voor h1 en h2 en h3 */
  margin: 10px 0px;
  text-align: center;             /* tekst centreren */
} 

p {
  margin: 10px 0px;
  text-align: justify;            /* tekst links en rechts uitvullen */
}

img {
  margin: 10px 0px;
}

a {
  color: #5dc5ee;
  text-decoration: none;
}

a:hover {                         /* <a> als je er met de muis op staat */
  text-decoration: underline;
}

footer {
  background-color:
}

.smalltext {
  text-align: center;
  font-size: 0.7em;
}

.intro {                          /* geldt voor elk begin stukje op een pagina*/
  margin-bottom: 20px;            /* zorgt ervoor dat de text niet met de box eronder botst */
  text-align: center;             /* tekst centreren */
}

/************************* NAVIGATIEBALK *************************/

/* navigatiebalk voor alle pagina's */

nav ul {                        /* <ul> die child is van <nav> */
  list-style-type: none;
  margin: auto;
  padding: 0;
  background-color: #dddddd;
  overflow: hidden;
}

nav ul li {                     /* <li> die child is van <ul> die op zijn beurt child is van <nav> */
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #aaaaaa;
}

nav li a.active {
  background-color: #4dbeea;
}

#option {
  background-color: #4d82ff;
}


/************************* HOOFDPAGINA *************************/

/* Indeling en opmaak voor hoofdpagina */

/* .item {} */ /* hier doen we nog niks mee, dat mag je zelf toevoegen */

.hominidae-plaatje {              /* geldt voor het plaatje op de hominidae pagina*/
  float: left;                    /* zorgt ervoor dat het plaatje links uit gaat */
  width: 230px;                   /* breedte van het plaatje */
  margin-right: 10px;             /* zorgt dat plaatje niet tegen tekst komt */
  margin-left: 10px;              /* zorgt dat plaatje niet tegen border komt */
  border: 2px solid black;      /* maakt een 2pixel zwarte border om plaatje */
}

.hominidae-betekenis {            /* geldt voor de betekenis tekst, plaatje en titel op de hominidae pagina */
  color: #dedede;                 /* tekstkleur wit */
  background-color: #8e2900 ;     /* achtergrondkleur bruin */
  border-color: #005c00 ;         /* borderkleur groen */
  border-width: 5px;              /* border grootte */
  border-style: solid;            /* border stijl */
  border-radius: 30px;            /* hoe rond de border is */
  margin-bottom: 20px;            /* zorgt dat de box niet de box eronder raakt */
}

.hominidae-tekst {                /* geldt voor de bovenste tekst op de hominidae pagina */
  margin-left: 10px;              /* zorgt dat de tekst niet tegen het plaatje aan komt */
  margin-top: 20px;               /* zorgt dat de tekst niet tegen de titel aan komt */
}

.hominidae-lichaam {              /* geldt voor de onderste tekst en titel op de hominidae pagina */
  color: #dedede;                 /* tekstkleur wit */
  background-color: #8e2900 ;     /* achtergrondkleur bruin */
  border-color: #005c00 ;         /* borderkleur groen */
  border-width: 5px;              /* border grootte */
  border-style: solid;            /* border stijl */
  border-radius: 30px;            /* hoe rond de border is */
  margin-bottom: 20px;            /* zorgt dat de box niet de onderkant van de pagina raakt */
  padding-left: 10px;             /* zorgt dat de tekst niet tegen de border aan komt */
  padding-bottom: 5px;            /* zorgt dat de tekst niet tegen de border aan komt */
}

/************************* SUBPAGINA *************************/

/* Indeling en opmaak voor subpagina */

.ponginae-plaatje {               /* geldt voor het plaatje op de ponginae pagina */
  float: left;                    /* zorgt ervoor dat het plaatje links uit gaat */
  width: 235px;                   /* breedte van het plaatje */
  margin-right: 10px;             /* zorgt dat plaatje niet tegen tekst komt */
  margin-left: 5px;               /* zorgt dat plaatje niet tegen border komt */
  border: 2px solid black;        /* maakt een 2pixel zwarte border om plaatje */
}

.ponginae-beschrijving {          /* geldt voor de beschrijving tekst, plaatje en titel op de ponginae pagina */
  color: #dedede;                 /* tekstkleur wit */
  background-color: #8e2900 ;     /* achtergrondkleur bruin */
  border-color: #005c00 ;         /* borderkleur groen */
  border-width: 5px;              /* border grootte */
  border-style: solid;            /* border stijl */
  border-radius: 30px;            /* hoe rond de border is */
  margin-bottom: 20px;            /* zorgt dat de box niet de box eronder raakt */
}

.ponginae-leefwijze {             /* geldt voor de onderste tekst en titel op de ponginae pagina */
  color: #dedede;                 /* tekstkleur wit */
  background-color: #8e2900 ;     /* achtergrondkleur bruin */
  border-color: #005c00 ;         /* borderkleur groen */
  border-width: 5px;              /* border grootte */
  border-style: solid;            /* border stijl */
  border-radius: 30px;            /* hoe rond de border is */
  margin-bottom: 20px;            /* zorgt dat de box niet de onderkant van de pagina raakt */
  padding-left: 10px;             /* zorgt dat de tekst niet tegen de linker border aan komt */
  padding-bottom: 5px;            /* zorgt dat de tekst niet tegen de onder border aan komt */
}
  
.gorillini-evolutie {             /* geldt voor de bovenste tekst op de gorrilla pagina*/
  color: #dedede;                 /* tekstkleur wit */
  background-color: #8e2900 ;     /* achtergrondkleur bruin */
  border-color: #005c00 ;         /* borderkleur groen */
  border-width: 5px;              /* border grootte */
  border-style: solid;            /* border stijl */
  border-radius: 30px;            /* hoe rond de border is */
  margin-bottom: 20px;            /* zorgt dat de box niet de box eronder raakt */
  padding-left: 7px;              /* zorgt dat de tekst niet tegen de linker border aan komt */
}

.gorillini-leefgebied {           /* geldt voor de onderste tekst op de gorrilla pagina */
  color: #dedede;                 /* tekstkleur wit */
  background-color: #8e2900 ;     /* achtergrondkleur bruin */
  border-color: #005c00 ;         /* borderkleur groen */
  border-width: 5px;              /* border grootte */
  border-style: solid;            /* border stijl */
  border-radius: 30px;            /* hoe rond de borde is */
  padding-right: 5px;             /* zorgt dat de tekst niet tegen de rechter border aan komt */
}

.gorillini-foto {
  float: left;
  border: 2px solid black;
  margin-right: 10px; /* zorgt dat plaatje niet tegen tekst komt */
  margin-left: 5px;
  width: 220px;
}

.gorillini-text {
  padding-left: 5px;
}

.hominini-definitie {
  color: #dedede;
  background-color: #8e2900 ;
  border-color: #005c00 ;
  border-width: 5px;
  border-style: solid;
  border-radius: 30px;
  padding-left: 5px;
}

.hominini-evolutie {
  color: #dedede;
  background-color: #8e2900 ;
  border-color: #005c00 ;
  border-width: 5px;
  border-style: solid;
  border-radius: 30px;
  padding-left: 5px;
  margin-top: 20px;
}

.plaatje {
  float: left;
  width: 228px;
  margin-right: 10px; /* zorgt dat plaatje niet tegen tekst komt */
  margin-left: 5px;
  border: 2px solid black;
}

#link {              /* selecteert de link op de index pagina */
  color: #b3d7ff ; /* kleur van link */
}